/* ======================================================== */
/* Helper classes */
/* ======================================================== */
.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*==================
Global class
/*==============*/
.container {
  margin:0 auto;
  max-width:1060px;
}
/* ======================================================== */
/* Our styles */
/* ======================================================== */
* {
    box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:Raleway, sans-serif;
}

/*main header */
.page-header {
  background:#000;
  height:40px;
  z-index:100;
}

.page-logo {
  float:left;
  color:#fff;
  font-size:12px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:40px;
  display:inline-block;
  font-weight:600;
}

.page-logo span {
  color:rgba(0,200,170,1);
  font-weight:600;
}

/* nawigacja glowna */

.page-nav {
  float:right;
}
.page-nav ul {
  text-align: right;
}
.page-nav li {
  display:inline-block;
  position:relative;
}

.page-nav li a {
  font-weight: 600;
  display:block;
  font-size:14px;
  padding: 0 20px;
  line-height:40px;
  text-decoration:none;
  color:#fff;
  text-transform: uppercase;
}

/*submenu*/

.page-nav-sublist {
  position:absolute;
  top:45px; /*!*/
  left:-20px; /*!*/
  background:#000;
  width: 150px;
  padding:10px 0;
  visibility:hidden;
  opacity:0;
  transition:0.5s opacity, 0.5s top;

}

.page-nav-sublist:before {
  content:'';
  width:0;
  height: 0;
  border:10px solid transparent;
  border-bottom-color: #000;
  position: absolute;
  left:50%;
  top:-20px;
}
.page-nav-sublist li {
  display:block;
  text-align: left;
}

.page-nav-sublist li a {
  text-transform:none;
  font-weight:normal;
  line-height: 32px;
}

.page-nav li:hover .page-nav-sublist {
  visibility: visible;
  opacity:1;
}


/*main slider */
.main-slider-bg{
  height:600px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  border:1px solid red;
}

.main-slider{
  position:relative;
  height:600px;
  border:1px solid blue;
}

.main-slider-slides-cnt {
  position:relative;
  margin:0 60px;
  height:100%;
  border:1px solid black;
}

.main-slider-prev {
  font-size:22px;
  background:none;
  border:0;
  position:absolute;
  width:50px;
  height:50px;
  top:10px;
  margin-top:25%;
}


.main-slider-next {
    font-size:22px;
    background:none;
    border:0;
    position:absolute;
    width:50px;
    height:50px;
    right:10px;
    top:10px;
    margin-top:25%;
}

.main-slider-content {
  left: 50%;
  top:0;
  position:absolute;
  width:50%;
  border: 1px solid black;
  height: 100%;
}

.main-slider-content h1 {
    text-transform:uppercase;
    font-size:40px;
    margin-left:25px;
    margin-top:200px;

}

.main-slider-content h1 span {
  color:rgba(0,200,170,1);
  font-weight:600;
}


.main-slider-image {
  right: 50%;
  top:0;
  position:absolute;
  width:50%;
  border: 1px solid black;
  height: 100%;
}

.main-slider-image img {
  margin-top:150px;
  height:325px;
  width:auto;
}

.main-slider-content p {
  text-align:center;
  padding: 15px;
}

.main-slider-content a {
  background-color:rgba(0,200,170,1);
  color:white;
  font-size:25px;
  padding:10px;
  border-radius:4px;
  text-decoration:none;
  margin-left:112px;
  margin-top:20px;
}
